<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Posts</title>
  </head>

  <body>
    <h1>Posts</h1>
    <p>Click a post below to see their comments</p>
    <ul>
      <% posts.forEach(({ _id, title})=> { %>
      <form action="/v1/posts/<%= _id %>?_method=delete" method="POST">
        <a href="/v1/posts/<%= _id %>"> <%= title %> </a> -
        <input type="submit" value="del" />
      </form>
      <% }) %>
    </ul>

    <a href="/v1/posts/new">new post</a>
  </body>
</html>
